@import 'ionicons.less';

body {
  background-color: #E2E2E2;
  font-family: "PT Sans", Arial, sans-serif;
}

section.step {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  height: 555px;
  padding: 60px 40px;
  text-align: center;
  width: 820px;
}

section.step.main {
  h2 {
    font-size: 60px;
    margin: 200px 0 0;
  }

  code {
    display: block;
    font-family: "PT mono", monospace;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    white-space: pre;
  }
}

section.step.author {
  img {
    float: left;
  }

  a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 500px;
    font-size: 40px;
    margin: 180px 0 20px;

    & + a {
      margin-top: 20px;
    }
  }
}

section.step.automate {
  background: url("img/gears.jpg") no-repeat;

  h2 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-top: 210px;
    text-shadow: 0 0 10px #000;
    text-transform: uppercase;
  }
}

section.step.terminal-tasks {
  background: url("img/terminal-tasks.png") no-repeat;

  h2 {
    color: #F00;
    font-family: "Comic Sans MS", "PT Sans", Arial, sans-serif;
    font-size: 90px;
    text-shadow: 0px 0px 10px #0F0;
    text-transform: uppercase;
  }
}

section.step.terminal {
  background: #282B34;

  code {
    color: #fff;
    display: block;
    font-family: "PT mono", monospace;
    font-size: 20px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    white-space: pre;
  }

  .terminal-comment {
    color: red;
  }
}
